[Unit]
Description=Remove unused flatpaks
Documentation=man:flatpak-uninstall(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak uninstall --noninteractive --unused

[Install]
WantedBy=multi-user.target
